@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ex0t9g");
  src: url("../fonts/icomoon.eot?ex0t9g#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?ex0t9g") format("truetype"),
    url("../fonts/icomoon.woff?ex0t9g") format("woff"),
    url("../fonts/icomoon.svg?ex0t9g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-lock:before {
  content: "\f023";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-location2:before {
  content: "\e948";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-smile:before {
  content: "\e9e1";
}
